<div class="container">
  <div>
    <p>Today is {{ today | date : "fullDate" }}</p>
  </div>

  <div>
    <button class="btn btn-outline-primary mx-3" (click)="lastWeek()">
      Last Week
    </button>
    <button class="btn btn-outline-danger" (click)="nextWeek()">
      Next Week
    </button>
  </div>

  <table>
    <thead>
      <tr>
        <th>{{ currentYear }}</th>
        <th *ngFor="let day of dateRange">{{ day | date : "MMM d" }}</th>
      </tr>

      <tr>
        <th>Week {{ weekNumber }}</th>
        <th *ngFor="let day of daysOfWeek">{{ day }}</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let job of jobs">
        <tr>
          <th>{{ job.title }}</th>
          <td *ngFor="let day of dateRange">
            <div *ngFor="let worker of dash">
              <ng-container
                *ngIf="
                  worker.jobTitle === job.title && isMatchingDate(worker, day)
                "
              >
                <!-- <span class="morning" *ngIf="worker.timeOfDay === 'Morning'">
                  {{ worker.jobTitle }}
                </span> -->
                <span class="morning" *ngIf="worker.timeOfDay === 'Morning'">
                  {{ worker.firstName + " " + worker.lastName }}
                </span>
                <span class="morning" *ngIf="worker.timeOfDay === 'Morning'">
                  {{ worker.timeOfDay }}
                </span>
                <span class="evening" *ngIf="worker.timeOfDay === 'Evening'">
                  {{ worker.firstName + " " + worker.lastName }}
                </span>
                <span class="evening" *ngIf="worker.timeOfDay === 'Evening'">
                  {{ worker.timeOfDay }}
                </span>
              </ng-container>
            </div>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
  <div>
    <form (ngSubmit)="onSubmit()">
      <h3>Choose Date:</h3>
      <input type="date" name="date" [(ngModel)]="schedule.date" required />
      <p>Shift:</p>
      <button type="button" (click)="schedule.time = 'Morning'">Morning</button>
      <button type="button" (click)="schedule.time = 'Evening'">Evening</button>
      <button type="submit">Add Schedule</button>
    </form>
  </div>
</div>
