/* BACKGROUND START */
section {
  position: relative;
  width: 100%;
  height: calc(100vh - 6vh);
  color: white;
  /* background: #3586ff; */
  background: linear-gradient(to bottom, #001f3f, #00a8ff);
  overflow: hidden;
}
section .air {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(https://1.bp.blogspot.com/-xQUc-TovqDk/XdxogmMqIRI/AAAAAAAACvI/AizpnE509UMGBcTiLJ58BC6iViPYGYQfQCLcBGAsYHQ/s1600/wave.png);
  background-size: 1000px 100px;
}
section .air.air1 {
  animation: wave 30s linear infinite;
  z-index: 1000;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}
section .air.air2 {
  animation: wave2 15s linear infinite;
  z-index: 999;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
}
section .air.air3 {
  animation: wave 30s linear infinite;
  z-index: 998;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15px;
}
section .air.air4 {
  animation: wave2 5s linear infinite;
  z-index: 997;
  opacity: 0.7;
  animation-delay: -5s;
  bottom: 20px;
}
@keyframes wave {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 1000px;
  }
}
@keyframes wave2 {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: -1000px;
  }
}

/* BACKGROUND END */

/* Date Effects START */
@keyframes Color {
  0% {
    color: #a0d468;
  }

  20% {
    color: #4fc1e9;
  }

  40% {
    color: #ffce54;
  }

  60% {
    color: #fc6e51;
  }

  80% {
    color: #ed5565;
  }

  100% {
    color: #ac92ec;
  }
}

@-moz-keyframes Color {
  0% {
    color: #a0d468;
  }

  20% {
    color: #4fc1e9;
  }

  40% {
    color: #ffce54;
  }

  60% {
    color: #fc6e51;
  }

  80% {
    color: #ed5565;
  }

  100% {
    color: #ac92ec;
  }
}

@-webkit-keyframes Color {
  0% {
    color: #a0d468;
  }

  20% {
    color: #4fc1e9;
  }

  40% {
    color: #ffce54;
  }

  60% {
    color: #fc6e51;
  }

  80% {
    color: #ed5565;
  }

  100% {
    color: #ac92ec;
  }
}
/* Date Effects END */

/* BUTTON EFFECTS START */
.modal-size {
  width: 20%;
}
.hovering {
  border: none;
  padding: 5px 10px;
  font-size: 20px;
  position: relative;
  background: transparent;
  color: #eeb449;
  text-transform: uppercase;
  border: 3px solid #eeb449;
  cursor: pointer;
  transition: all 0.7s;
  overflow: hidden;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -ms-transition: all 0.7s;
  -o-transition: all 0.7s;
}
/* 008eda blue color like background */
span {
  transition: all 1.2s;
  z-index: -1;
  -webkit-transition: all 1.2s;
  -moz-transition: all 1.2s;
  -ms-transition: all 1.2s;
  -o-transition: all 1.2s;
}

.hovering .first {
  content: "";
  position: absolute;
  right: 100%;
  top: 0;
  width: 25%;
  height: 100%;
  background: #eeb449;
}

.hovering .second {
  content: "";
  position: absolute;
  left: 25%;
  top: -100%;
  height: 100%;
  width: 25%;
  background: #eeb449;
}

.hovering .third {
  content: "";
  position: absolute;
  left: 50%;
  height: 100%;
  top: 100%;
  width: 25%;
  background: #eeb449;
}

.hovering .fourth {
  content: "";
  position: absolute;
  left: 100%;
  top: 0;
  height: 100%;
  width: 25%;
  background: #eeb449;
}
.hovering:hover,
.hovering-delete:hover,
.hovering-add:hover {
  color: #ffff;
  z-index: 1;
}

.hovering:hover .first,
.hovering-delete:hover .first-delete,
.hovering-add:hover .first-add {
  top: 0;
  right: 0;
}
.hovering:hover .second,
.hovering-delete:hover .second-delete,
.hovering-add:hover .second-add {
  top: 0;
  left: 50%;
}

.hovering:hover .third,
.hovering-delete:hover .third-delete,
.hovering-add:hover .third-add {
  top: 0;
  left: 25%;
}
.hovering:hover .fourth,
.hovering-delete:hover .fourth-delete,
.hovering-add:hover .fourth-add {
  top: 0;
  left: 0;
}
.hovering-delete {
  border: none;
  padding: 5px 10px;
  font-size: 20px;
  position: relative;
  background: transparent;
  color: #e71430;
  text-transform: uppercase;
  border: 3px solid #e71430;
  cursor: pointer;
  transition: all 0.7s;
  overflow: hidden;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -ms-transition: all 0.7s;
  -o-transition: all 0.7s;
}
.hovering-delete .first-delete {
  content: "";
  position: absolute;
  right: 100%;
  top: 0;
  width: 25%;
  height: 100%;
  background: #e71430;
}
.hovering-delete .second-delete {
  content: "";
  position: absolute;
  left: 25%;
  top: -100%;
  height: 100%;
  width: 25%;
  background: #e71430;
}
.hovering-delete .third-delete {
  content: "";
  position: absolute;
  left: 50%;
  height: 100%;
  top: 100%;
  width: 25%;
  background: #e71430;
}
.hovering-delete .fourth-delete {
  content: "";
  position: absolute;
  left: 100%;
  top: 0;
  height: 100%;
  width: 25%;
  background: #e71430;
}
.hovering-add {
  border: none;
  padding: 5px 10px;
  font-size: 20px;
  position: relative;
  background: transparent;
  color: rgb(0, 196, 59);
  text-transform: uppercase;
  border: 3px solid rgb(0, 196, 59);
  cursor: pointer;
  transition: all 0.7s;
  overflow: hidden;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -ms-transition: all 0.7s;
  -o-transition: all 0.7s;
}
.hovering-add .first-add {
  content: "";
  position: absolute;
  right: 100%;
  top: 0;
  width: 25%;
  height: 100%;
  background: rgb(0, 196, 59);
}
.hovering-add .second-add {
  content: "";
  position: absolute;
  left: 25%;
  top: -100%;
  height: 100%;
  width: 25%;
  background: rgb(0, 196, 59);
}
.hovering-add .third-add {
  content: "";
  position: absolute;
  left: 50%;
  height: 100%;
  top: 100%;
  width: 25%;
  background: rgb(0, 196, 59);
}
.hovering-add .fourth-add {
  content: "";
  position: absolute;
  left: 100%;
  top: 0;
  height: 100%;
  width: 25%;
  background: rgb(0, 196, 59);
}
/* BUTTON EFFECTS END */

/* TABLE START */
.Custom-Color tr,
.Custom-Color td,
.Custom-Color th {
  background-color: #ffffcd;
}

/* TABLE END */

.weeks {
  font-size: 1.6rem;
  font-weight: 700;
}

.scrollable-span {
  max-height: 100px;
  overflow-y: auto;
  display: block;
  white-space: pre-wrap;
}
.glow {
  font-size: 24px;
  color: #fff;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7),
    0 0 20px rgba(255, 255, 255, 0.5), 0 0 30px rgba(255, 255, 255, 0.3);
}

.rgb {
  animation: Color 4s linear infinite;
  -webkit-animation: Color 4s ease-in-out infinite;
  text-shadow: 1px 1px #f0f0f0;
}
/* HIDE ARROWS ON INPUT NUMBER START */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
/* HIDE ARROWS ON INPUT NUMBER END */
.text-inCenter {
  justify-content: center;
  text-align: center;
}
